/* components/Header.css */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1rem;
  z-index: 100;
}

@media (max-width: 700px) {
  .header {
    visibility: hidden;
  }
}

.header-container {
  padding: 10px;
  border-radius: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* max-width: 1200px; */
  margin: 0 auto;
  margin-left: 4rem;
  margin-right: 4rem;
  
  transition: background-color 0.3s ease; /* Add smooth transition effect */
  transition: 0.6s ease;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo, .logo-header {
  width: 50px; /* Adjust the size of your logo */
  height: auto;
  margin-right: 1rem; /* Adjust margin as needed */
}

.logo-header {
  cursor: pointer;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-item {
  margin-left: 5px; /* Spacing between nav items */
  padding: 20px; /* Add padding to create a hoverable area */
  border-radius: 8px; /* Optional for rounded corners */
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.nav-item div {
  font-size: 1.2rem;
  transition: 0.3s ease;
}

.nav-item:hover div {
  color: var(--main-color);
}

.nav-item:hover {
  /* background-color: rgba(255, 255, 255, 0.1);  */
}

.nav-item a {
  font-size: 1.2rem;
  color: var(--text-color);
  text-decoration: none;
  transition: color 0.3s ease;
}

.nav-item:hover a {
  color: var(--main-color); /* Change text color on hover */
}

/* Add the following style for the scrolled state */
.header-container.scrolled {
  border-radius: 40px;
  /* background: rgba(75, 0, 130, 0.9); */
  backdrop-filter: blur(6px);
  margin-left: 15%;
  margin-right: 15%;
  padding-left: 2em;
  padding-right: 2em;
  border: 1px solid white;
}
